<app-spinner *ngIf="!personnes || !joursFirier || !groups || !gestion || !dates"></app-spinner>
<div class="container-fluid" *ngIf="personnes && joursFirier && groups && gestion && dates">
  <div>
    <div class="row justify-content-center mb-2">
      <div class="col-3 border">
        <h2 class="text-center m-1">{{dates[15]|date: 'LLLL YYYY':'':locale}}</h2>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="d-inline text-center">
        <a (click)="changeMonth(false)" class="btn btn-info mr-1"><i class="fas fa-arrow-left"></i></a>
        <a class="btn btn-info" (click)="getDateNow()">Aujourd'hui</a>
        <a (click)="changeMonth(true)" class="btn btn-info ml-1"><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>


  </div>
  <div class="table-responsive mytable" style="min-height: 300px">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th rowspan="2" class="align-middle">PERSONNEL</th>
        <th *ngFor="let i of dates" [popper]="pkk" [popperTrigger]="'hover'"
            popperDelay="0"
            popperTimeout="0"
            [popperStyles]="{backgroundColor:'black',color:'#ffffff'}" class="align-middle text-center"
            [class.bg-success]="dateNow(i)"
            [class.bg-warning]="i.getDay()===0"
            [class.bg-danger]="findJours(i)">
          <div>
            {{i|date:'EEEE':'':locale}}
          </div>
          <div>
            {{i|date:'dd'}}
          </div>
          <popper-content [class.d-none]="getJours(i)===null" #pkk>
            {{getJours(i)}}
          </popper-content>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of personnes">
        <td
          [popperTrigger]="'hover'"
          popperDelay="0"
          popperTimeout="0"
          [popperStyles]="{border:'none',backgroundColor:'black',color:'white'}"
          [popperPlacement]="'top'"
          [popper]="grp">
          {{p.name}}
          <popper-content #grp>
            {{p.groupe.name}}
          </popper-content>
        </td>
        <td [popper]="popper"
            popperDelay="0"
            popperTimeout="0"
            [popperStyles]="{padding:'3px',border:'none',border:'1px solid black'}"
            [popperTrigger]="'click'"
            [popperPlacement]="'bottom'" *ngFor="let i of dates"
            [className]="eventClass(i,p)">
          <div>
            <popper-content [class.d-none]="popperDisabled(i,p)" #popper>
              <button type="button" *ngIf="i.getDay()!==6" (click)="makeAction($event,1,p.id,i)"
                      class="btn btn-danger mb-1">Absent 1/1
              </button>
              <button type="button" (click)="makeAction($event,2,p.id,i)" class="btn btn-warning mb-1">Absent 1/2
              </button>
              <button type="button" (click)="makeAction($event,3,p.id,i)" class="btn btn-info">
                Effacer
              </button>
            </popper-content>
          </div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <div></div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <td>Names</td>
          <td>Absent</td>
          <td>Present</td>
          <td>Conges</td>
          <!--<td>Action</td>-->
        </tr>
        </thead>
        <tbody *ngIf="gestion">
        <tr *ngFor="let p of gestion">
          <td>{{p.name}}</td>
          <td>{{p.absence}}</td>
          <td>{{p.present}}</td>
          <td>{{p.conges}}</td>
          <!--<td><a class="alert-link" (click)="deleteEmployee(p.id)">Supprimer</a></td>-->
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col d-flex flex-column justify-content-start">

      <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#modelId">
        Gerer des conges
      </button>

      <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#groupgere">
        Gerer les Groupes
      </button>


      <!-- Gerer les Conges -->
      <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Conges</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="personnes" class="modal-body">
              <h3 class="text-center">Ajouter</h3>
              <form (ngSubmit)="insertConges(cng)" #cng='ngForm' class="row justify-content-center">
                <div class="col form-group">
                  <label for="employee"></label>
                  <select [ngModel]="personnes[0]?.name" required class="form-control m-2" name="employee"
                          id="employee">
                    <option *ngFor="let i of personnes">{{i.name}}</option>
                  </select>
                </div>


                <div class="col form-group">
                  <label for="from">&nbsp;From:&nbsp;</label>
                  <input ngModel type="date" required name="from" id="from" class="form-control" placeholder=""
                         aria-describedby="helpId">
                </div>


                <div class="col form-group">
                  <label for="to">&nbsp;nomber&nbsp;</label>
                  <input ngModel type="number" required name="to" id="to" class="form-control" placeholder=""
                         aria-describedby="helpId">
                </div>

                <div class="col-xs">

                  <button type="submit" class="btn btn-success m-4">Ajouter</button>
                </div>

              </form>
              <hr/>
              <h3 class="text-center">Supprimer</h3>
              <form (ngSubmit)="deleteConges(crg)" #crg='ngForm' class="row justify-content-center">
                <div class="col form-group">
                  <label for="employeed"></label>
                  <select [ngModel]="personnes[0]?.name" required class="form-control m-2" name="employee"
                          id="employeed">
                    <option *ngFor="let i of personnes">{{i.name}}</option>
                  </select>
                </div>


                <div class="col form-group">
                  <label for="fromd">&nbsp;From:&nbsp;</label>
                  <input ngModel type="date" required name="from" id="fromd" class="form-control" placeholder=""
                         aria-describedby="helpId">
                </div>


                <div class="col form-group">
                  <label for="tod">&nbsp;To:&nbsp;</label>
                  <input ngModel type="date" required name="to" id="tod" class="form-control" placeholder=""
                         aria-describedby="helpId">
                </div>

                <div class="col-xs">
                  <button type="submit" class="btn btn-danger m-4">Supprimer</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Gerer les groupes -->
      <div class="modal fade" id="groupgere" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Gerer les groupes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h2 class="text-center">Gerer un groupe</h2>

              <form (ngSubmit)="addGroupe(h)" #h='ngForm'>
                <table class="m-auto">
                  <tbody>
                  <tr>
                    <td>
                      <div class="form-group">
                        <label for="gpname"></label>
                        <input type="text" name="name" ngModel id="gpname" class="form-control"
                               placeholder="Nom de Groupe">
                      </div>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-success ml-2">Ajouter</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group">
                        <label for="gpnamedl"></label>
                        <select [value]="groups[0]" #deleteGp id="gpnamedl" class="form-control">
                          <option *ngFor="let ol of groups">{{ol.name}}</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <button type="button" (click)="deleteGroupe()" class="btn btn-danger ml-2">Supprimer</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </form>
              <br>
              <hr/>
              <h2 class="text-center">Gerer les Personnes</h2>

              <div class="form-group">
                <label for="groupeGeres"></label>
                <select (change)="getPersonnesInGroupe($event)" #gpaddemp [value]="groups[0]" class="form-control"
                        name="groupeGeres"
                        id="groupeGeres">
                  <option *ngFor="let ll of groups" [value]="ll.name">{{ll.name}}</option>
                </select>
                <hr/>
                <table class="table table-bordered w-100">
                  <thead>
                  <tr>
                    <td>Nom</td>
                    <td>Action</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let kk of personnesInGroupe">
                    <td>
                      {{kk.name}}
                    </td>
                    <td>
                      <a (click)="deleteEmployee(kk.id)" class="text-danger alert-link">Supprimer</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <form (ngSubmit)="addEmployee(t)" #t='ngForm'>
                  <div class="form-group d-flex justify-content-around">
                    <label for=""></label>
                    <input type="text" class="form-control m-2" required name="name" ngModel id=""
                           placeholder="Ajouter un Personne">
                    <input type="number" [ngModel]="18" placeholder="nombre de Conges" required class="form-control m-2"
                           name="conges">
                    <button [disabled]="!t.valid" class="btn btn-success text-center m-2">Ajouter</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<div *ngIf="refresh">{{gestionRes()}}</div>
