<div class="container-fluid" *ngIf="personnes && joursFirier">
  <div>
    <div class="row justify-content-center mb-2">
      <div class="col-2 border">
        <h2 class="text-center m-1">{{dates[15]|date: 'LLLL YYYY':'':locale}}</h2>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="d-inline text-center">
        <a (click)="changeMonth(false)" class="btn btn-info mr-1"><i class="fas fa-arrow-left"></i></a>
        <a class="btn btn-info" (click)="getDateNow()">Aujourd'hui</a>
        <a (click)="changeMonth(true)" class="btn btn-info ml-1"><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>


  </div>
  <div class="table-responsive mytable" style="min-height: 300px">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th rowspan="2" class="align-middle">PERSONNEL</th>
        <th *ngFor="let i of dates" [popper]="p" [popperDisabled]="getJours(i)===null" [popperTrigger]="'hover'"
            [popperStyles]="{backgroundColor:'black',color:'#fff'}" class="align-middle text-center"
            [class.bg-success]="dateNow(i)"
            [class.bg-warning]="i.getDay()===0"
            [class.bg-danger]="findJours(i)">
          <div>
            {{i|date:'EEEE':'':locale}}
          </div>
          <div>
            {{i|date:'dd'}}
          </div>
          <popper-content #p>
            {{getJours(i)}}
          </popper-content>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of personnes">
        <td
          [popperTrigger]="'hover'"
          [popperStyles]="{border:'none',backgroundColor:'black',color:'white'}"
          [popperPlacement]="'top'"
          [popper]="grp">
          {{p.name}}
          <popper-content #grp>
            {{p.groupe.name}}
          </popper-content>
        </td>
        <td [popperDisabled]="i.getDay()===0 || findJours(i)||getAbsence(p,i)===3" [popper]="popper"
            [popperStyles]="{padding:'3px',border:'none',border:'1px solid black'}"
            [popperTrigger]="'click'"
            [popperPlacement]="'bottom'" *ngFor="let i of dates"
            [class.bg-dark]="i.getDay()===0 || findJours(i)"
            [class.bg-danger]="getAbsence(p,i)===1"
            [class.bg-warning]="getAbsence(p,i)===2"
            [class.bg-secondary]="getAbsence(p,i)===3"
        >
          <div>
            <popper-content #popper>
              <button type="button" (click)="makeAction($event,1,p.id,i)" class="btn btn-danger mb-1">Absent 1/1
              </button>
              <button type="button" (click)="makeAction($event,2,p.id,i)" class="btn btn-warning mb-1">Absent 1/2
              </button>
              <button type="button" (click)="makeAction($event,3,p.id,i)" class="btn btn-info">
                Effacer
              </button>
            </popper-content>
          </div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="row">
    <div class="col table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td>Names</td>
          <td>Absent</td>
          <td>Present</td>
          <td>Conges</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of personnes">
          <td>{{p.name}}</td>
          <td>{{absentInMonth(p.absence)}}</td>
          <td>{{presentInMonth(p.absence)}}</td>
          <td>{{congesInMonth(p.absence, p.conges)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg mr-2" data-toggle="modal" data-target="#modelId">
        Gerer des conges
      </button>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#groupes">
        Ajouter un groupe
      </button>

      <!-- Modal -->
      <div class="modal fade" id="groupes" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (ngSubmit)="addGroupe(h)" #h='ngForm' class="modal-body">
              <div class="form-group">
                <label for="grp">nom de Groupe</label>
                <input ngModel type="text"
                       class="form-control" name="name" id="grp">
              </div>

              <button type="submit" class="btn btn-success mr-2">Ajouter</button>
              <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>


      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg ml-2" data-toggle="modal" data-target="#Employe">
        Ajouter un Employee
      </button>

      <!-- Modal -->
      <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Conges</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="personnes" class="modal-body">
              <h3 class="text-center">Ajouter</h3>
              <form (ngSubmit)="insertConges(cng)" #cng='ngForm' class="row justify-content-center">
                <div class="form-group">
                  <label for="employee"></label>
                  <select [ngModel]="personnes[0]?.name" required class="form-control" name="employee" id="employee">
                    <option *ngFor="let i of personnes">{{i.name}}</option>
                  </select>
                </div>

                <div class="form-inline">
                  <div class="form-group">
                    <label for="from">&nbsp;From:&nbsp;</label>
                    <input ngModel type="date" required name="from" id="from" class="form-control" placeholder=""
                           aria-describedby="helpId">
                  </div>
                </div>

                <div class="form-inline">
                  <div class="form-group">
                    <label for="to">&nbsp;To:&nbsp;</label>
                    <input ngModel type="date" required name="to" id="to" class="form-control" placeholder=""
                           aria-describedby="helpId">
                  </div>
                </div>

                <button type="submit" class="btn btn-success m-3">Ajouter</button>
              </form>
              <hr/>
              <h3 class="text-center">Supprimer</h3>
              <form (ngSubmit)="deleteConges(crg)" #crg='ngForm' class="row justify-content-center">
                <div class="form-group">
                  <label for="employeed"></label>
                  <select [ngModel]="personnes[0]?.name" required class="form-control" name="employee" id="employeed">
                    <option *ngFor="let i of personnes">{{i.name}}</option>
                  </select>
                </div>

                <div class="form-inline">
                  <div class="form-group">
                    <label for="fromd">&nbsp;From:&nbsp;</label>
                    <input ngModel type="date" required name="from" id="fromd" class="form-control" placeholder=""
                           aria-describedby="helpId">
                  </div>
                </div>

                <div class="form-inline">
                  <div class="form-group">
                    <label for="tod">&nbsp;To:&nbsp;</label>
                    <input ngModel type="date" required name="to" id="tod" class="form-control" placeholder=""
                           aria-describedby="helpId">
                  </div>
                </div>

                <button type="submit" class="btn btn-success m-3">Ajouter</button>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="Employe" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Ajouter Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="groups.length===0">
                <h2>Aucune Groupes</h2>
              </div>
              <div *ngIf="groups.length>0" class="row justify-content-center">
                <form (ngSubmit)="addEmployee(f)" #f="ngForm">
                  <div class="form-group">
                    <label for="emp">Ajouter Employee: </label>
                    <input type="text" ngModel required name="name" id="emp" class="form-control ml-2" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="conges">Conges: </label>
                    <input type="text" ngModel name="conges" id="conges" class="form-control ml-2" placeholder="">
                  </div>


                  <div class="form-group">
                    <label for="groupe">groupe: </label>
                    <input type="text" autocomplete="off" list="lst" ngModel name="groupe" id="groupe"
                           class="form-control ml-2"
                           placeholder="">
                  </div>
                  <datalist id="lst" *ngIf="groups">
                    <option *ngFor="let d of groups">{{d.name}}</option>
                  </datalist>

                  <button type="submit" class="btn btn-success mr-2">Ajouter</button>
                  <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
